.classpath
.project
TrustBasedRecommendation/.settings/org.eclipse.jdt.core.prefs
TrustBasedRecommendation/.settings/org.eclipse.m2e.core.prefs
TrustBasedRecommendation/.settings/org.eclipse.wst.common.component